/* navbar rgb(33, 37, 41) */
/* Primary #000000 */
/* Secondary #612626 */
/* #E0B400 */

.header-section {
  display: flex;
  width: 100vw;
  height: 94vh;
  background-image: url("../images/background_clean.jpg");
  background-size: cover;
  background-position-y: -8rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.header {
  width: 60%;
  height: 100%;
  padding: 0 2rem;
}

.heading {
  margin: 2rem 2rem;
  color: white;
}

.card {
  display: inline-block;
  width: 12rem;
  height: 18rem;
  margin: 2rem;
  padding: 0;
  border: 0;
  opacity: 30%;
}

.card-body {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.add-film {
  height: 100%;
  width: 100%;
}

.plus:hover,
.card-body:hover,
.card:hover {
  filter: brightness(70%);
}

.plus {
  display: flex;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
