* {
  margin: 0;
}

/* colors */
/*Light blue #bbe5ea */
/*Red #df0007 */
/*Yellow #fbbd68 */

.header-section {
  display: flex;
  width: 100vw;
  height: 94vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position-y: -8rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.heading {
  font-size: 3.25rem;
  margin-bottom: 1.75rem;
}

.subheading {
  display: inline-block;
}

.left-side {
  height: 100%;
  width: 50%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-bottom: 15rem;
}

.call-to {
  display: flex;
  height: 2.5rem;
  width: 5rem;
  background-color: #fbbd68;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

.call-to:hover {
  filter: brightness(85%);
}

.right-side {
  height: 100%;
  width: 50%;
}
