* {
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  width: 100vw;
  height: 94vh;
  background-image: url("../images/background_clean.jpg");
  background-size: cover;
  background-position-y: -8rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  width: 30rem;
  background-color: #fbbd68;
}

.form_header {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.email_input_container {
  width: 60%;
}

.email_input {
}

.password_input_container {
  width: 60%;
  margin-bottom: 2rem;
}

.submit_button {
  width: 60%;
}

.registration_buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.register_button {
  display: inline-block;
  background-color: aqua;
  width: 45%;
  margin: 1rem 1rem 1rem 0;
}

.google_button {
  display: inline-block;
  background-color: azure;
  width: 45%;
  margin: 1rem 0 1rem 1rem;
}
