* {
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  width: 100vw;
  height: 94vh;
  background-image: url("../images/background_clean.jpg");
  background-size: cover;
  background-position-y: -8rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  width: 30rem;
  background-color: white;
  box-shadow: 10px 10px 12px 10px rgba(0, 0, 0, 0.2);
}

.form_header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

.input_container {
  width: 60%;
  margin-bottom: 1.75rem;
}

.submit_button {
  width: 60%;
  background-color: #fbbd68;
  border-color: #fbbd68;
  margin-top: 0.75rem;
}

.submit_button:hover {
  background-color: #d69d4d;
  border-color: #cf9d55;
}

.registration_buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.register_button {
  display: inline-block;
  background-color: #df0007;
  color: white;
  width: 45%;
  margin: 1rem 1rem 1rem 0;
}

.google_button {
  display: inline-block;
  background-color: rgb(222, 250, 250);
  color: white;
  width: 45%;
  margin: 1rem 0 1rem 1rem;
}
